<ion-header>
  <ion-navbar>
    <button menuToggle *ngIf="!selectedItem">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Item Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="selectedItem">
  <h3 text-center >
    {{selectedItem.title}}
    <ion-icon [name]="selectedItem.icon"></ion-icon>
  </h3>
  <h4 text-center>
    var <b>{{selectedItem.var}}</b>
  </h4>
  <h4 text-center *ngIf="selectedItem.title == 'Nivel 1'">
    in   <b>2</b>
    out  <b> ?</b>
    goal <b >3</b>
  </h4>
  <h4 text-center *ngIf="selectedItem.title == 'Nivel 2'">
    in   <b>-7</b>
    out  <b> ?</b>
    goal <b>false</b>
  </h4>
  <h4 text-center>
    resultado:
  </h4>
  <h1 text-center>{{resultado}}</h1>

  <ion-item>
    <ion-textarea [(ngModel)]="area"></ion-textarea>
  </ion-item>

 <ion-list>
 </ion-list>
<button ion-button (click)="start();" *ngIf="selectedItem" class="btn">start</button>
</ion-content>
